@theme {
  /* color/accent.json */
  --color-accent-50: #fcdfed;
  --color-accent-100: #f9c8e0;
  --color-accent-200: #f499c6;
  --color-accent-300: #ee5da5;
  --color-accent-400: #e82183;
  --color-accent-500: #c2146a;
  --color-accent-600: #9d1056;
  --color-accent-700: #7d0d44;
  --color-accent-800: #5c0a32;
  --color-accent-900: #410723;
  --color-accent-950: #2e0519;

  /* color/aurora.json */
  --color-aurora-50: #def8fc;
  --color-aurora-100: #c6f4fb;
  --color-aurora-200: #97eaf7;
  --color-aurora-300: #59def2;
  --color-aurora-400: #1cd2ee;
  --color-aurora-500: #0fafc7;
  --color-aurora-600: #0c8da1;
  --color-aurora-700: #0a7080;
  --color-aurora-800: #07535f;
  --color-aurora-900: #053a42;
  --color-aurora-950: #042a2f;

  /* color/base.json */
  --color-space-800: #120f1d;
  --color-space-900: #0a0812;
  --color-space-950: #050409;
  --color-star-50: #ffffff;
  --color-star-100: #f4f2fb;

  /* color/brand.json */
  --color-brand-50: #e7ddfd;
  --color-brand-100: #d6c5fc;
  --color-brand-200: #b395f9;
  --color-brand-300: #8756f6;
  --color-brand-400: #5a17f2;
  --color-brand-500: #460bcb;
  --color-brand-600: #3809a4;
  --color-brand-700: #2d0782;
  --color-brand-800: #210561;
  --color-brand-900: #170444;
  --color-brand-950: #110330;

  /* color/ink.json */
  --color-ink-50: #eaeaf0;
  --color-ink-100: #dcdbe6;
  --color-ink-200: #bebcd1;
  --color-ink-300: #9895b6;
  --color-ink-400: #726e9b;
  --color-ink-500: #5b577f;
  --color-ink-600: #494767;
  --color-ink-700: #3a3852;
  --color-ink-800: #2b293d;
  --color-ink-900: #1e1d2a;
  --color-ink-950: #16151e;

  /* font.json */
  --font-display: 'Figtree', system-ui, sans-serif;
  --font-body: 'Figtree', system-ui, sans-serif;

  /* radius.json */
  --radius-sm: 0.5rem;
  --radius-md: 0.875rem;
  --radius-lg: 1.5rem;
  --radius-xl: 2.5rem;
  --radius-full: 999px;

  /* spacing.json */
  --spacing: 0.25rem;
}
